.container {
    width: 100%;
  
    height: 100vh;
    display: flex;
  
    /* justify-content: center;
      align-items: center; */
    z-index: 99999;
  }

  
  .form_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .form_container form {
      width:100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  .form_container form label {
      width:60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap:.2rem
  }
  .form_container form label input {
      width:100%;
      height:2.3rem;
      border-radius: .5rem;
      border:1px rgba(0, 0, 0, 0.514) solid;
      text-align: end;
      padding-right: 1px;
  }
  .form_container form label input:focus {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  
  }
  /* .form_container form > input {
    cursor: pointer;
    width:15%;
    height:2.3rem;
    border-radius: 1rem;
    border:1px rgba(0, 0, 0, 0.514) solid;
   font-size: large;
   font-weight:600;
    text-align: center;
    background-color: rgb(115, 255, 157);
    border:none;
  
  }
  
  .form_container form > input:hover {
      background-color: rgb(74, 250, 127);
    }
     */
  